    :root {
        --primary-a: #201516;
        --primary-b: #ffe8dd;
        --secondary-a: #16E35E;
        --secondary-b: #ff4600;
        --dark: #000000;
        box-sizing: border-box;
    }

    @font-face {
        font-family: RodfatTwo;
        src: url(../fonts/Rodfat-Two.otf);
    }

    @font-face {
        font-family: SkateRegular;
        src: url(../fonts/Skate-Regular.otf);
    }

    @font-face {
        font-family: SkateSans;
        src: url(../fonts/SkateSans-Regular.otf);
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        font-size: 16px;
    }

    body.noscroll {
        overflow: hidden;
    }




    .container {
        display: flex;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;

    }



    .app-section {
        padding-top: 120px;
        min-height: 100svh;
    }

    .btn-whats {
        position: fixed;
        bottom: 1em;
        right: 1em;
        z-index: 999;
        animation: pulse 2s infinite;

    }

    @keyframes pulse {
        0% {
            transform: scale(0.75);
            /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
        }

        70% {
            transform: scale(1.0);
            /* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
        }

        100% {
            transform: scale(0.75);
            /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
        }
    }



    p {
        color: var(--primary-b);
        font-family: SkateSans;
        letter-spacing: 0.2em;
        font-size: 1.2rem;
        margin: 0;
    }

    .my-h1 {
        font-family: SkateSans;
        color: var(--primary-b);
        text-align: center;
        letter-spacing: 0.2em;
        font-size: 1.5rem;
        padding: 2em 2em 0 2em;
    }

    h2 {
        font-family: RodfatTwo;
        color: var(--primary-b);
        font-size: 4.5em;
        /* margin-top: 1.5em; */
        letter-spacing: 0.1em;
    }

    h3 {
        font-family: RodfatTwo;
        color: var(--primary-b);
        font-size: 1.5em;
        letter-spacing: 0.2em;
    }

    .services {
        height: 100svh;


    }