.footer {
  display: flex;
  width: 100%;
  margin: 0 auto;
  /* padding-top: 2em; */
  max-height: 100svh;
  background-color: black;
  /* border-top: 1px solid white; */
}

.footer-container {
  display: flex;
  margin: 0 auto;
  width: 1280px;
  padding: 2em;
}

.h3-footer {
  margin-top: 0;
}

.footer-left {
  width: 33.33%;
  text-align: center;
  padding: 2em;
}

.footer-left p:last-of-type {
  padding-bottom: 2em;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 33.33%;
}

.logo-middle {
  margin: 0 auto;
  width: 70%;
}

.footer-middle-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.footer-middle-buttons img {
  width: 10%;
  padding-top: 3em;
}

.footer-right {
  width: 33.33%;
  text-align: center;
  /* border-left: 1px solid var(--secondary-a); */
  padding: 2em;
}

.footer-right p:nth-child(3) {
  font-size: 1em;
  font-style: italic;
  padding-bottom: 1em;
}

.footer-right p:nth-child(5) {
  font-size: 1em;
  font-style: italic;
}

.footer-end {
  display: flex;
  flex-direction: row;
  background-color: black;
}

.footer-end p {
  font-size: 1em;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 1em;
}

.footer-email {
  font-size: 1em;
  margin-top: 1em;
  cursor: pointer;
}

.footer-luis {
  all: unset;
  cursor: pointer;
}

.map {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  background-color: black;
}
