@media (max-width: 1100px) {
    .button-book {
        display: none;
    }

    .button-book2 {
        display: flex;
    }

}


@media (max-width: 900px) {
    .nav-logo {
        justify-content: flex-start;
    }

    .nav-list {
        display: none;
    }

    .nav-menu {
        justify-content: left;
        padding-left: 3em;
    }
}