@media (max-width: 1100px) {
    .button-book {
        display: none;
    }

    .button-book2 {
        display: flex;
    }

}


@media (max-width: 900px) {
    .nav-logo {
        justify-content: flex-start;
    }

    .nav-list {
        display: none;
    }



    .nav-menu:last-child {
        padding-left: 1em;
    }

    .logo-menu {
        width: 4em;

    }


    .burger {
        display: flex;
        flex-direction: column;
        width: 1em;
        font-size: 4em;
        font-family: SkateSans;
        cursor: pointer;
        padding: 0.2em 0.2em 0 0;

    }


    .bar {
        width: 80%;
        height: 3px;
        background: var(--primary-b);
        margin: 0 auto 18px;
        /* transition: transform 0.4s ease; */
    }

}



.burger-menu {
    background-color: var(--dark);
    height: calc(100vh - 120px);
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 120px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    overflow: scroll !important;
    z-index: 999;

}

.burger-menu.active {
    visibility: visible;

}

#burguer.desactive {
    visibility: hidden;

}



.burger-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 0 auto;
    padding-top: 7em;

}

.burger-list>.home-logo {
    margin-top: 3em;
    width: 50%;
}