@media (min-width: 1100px) {
    .ml-lg-0 {
        margin-left: 0 !important;

    }

    .mr-lg-0 {
        margin-right: 0 !important;
    }


}

@media (max-width: 1100px) {

    .service-box {
        width: calc(45% - 2.5em);

    }

}

@media (max-width: 800px) {

    .service-box {
        width: calc(40% - 0.2em);

    }

    .service-box::before {

        background: url('../../images/logo-menu.png') center / 60% no-repeat;

    }

    .service-content>h2 {
        font-size: 3.5em;

    }

    .service-text {
        padding: 0 1.5em;
    }

    .service-content>p {
        padding: 0;

    }

}

@media (max-width: 700px) {
    .service-box {
        width: 90%;
        margin-left: 0;
        margin-right: 0;


    }
}