@media (max-width: 900px) {
    .my-h1 {
        font-size: 1.2em;
    }
}

@media (max-width: 600px) {


    .my-h1 {
        font-size: 1em;

    }

    .home-logo {
        margin-bottom: 1em;
        max-width: 85%;


    }
}