@media (min-width: 800px)and (max-width: 1100px) and (orientation: portrait) {
    .home-logo {
        max-width: 90%;
        display: flex;
        align-items: flex-start;
        padding-top: 2em;
    }

    .home-buttons {
        padding-top: 5em;
    }

    .home-text {
        padding-top: 2em;
    }
}



@media (min-width: 700px) and (max-width: 900px)and (orientation: portrait) {
    .home-buttons {
        width: 70%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        /* padding-bottom: 20em; */
    }

    .wrapper-home-img {

        display: flex;
        flex-wrap: wrap;

    }
}


@media (min-width: 100px) and (max-width: 700px)and (orientation: portrait) {

    .wrapper-home-img h1 {
        font-family: SkateSans;
        color: var(--primary-b);
        text-align: center;
        letter-spacing: 0.2em;
        font-size: 1.2rem;

    }

    .home-buttons {

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2em;

    }

    .home-text {
        padding-top: 2em;
    }

}

@media (min-width: 800px) and (max-width: 1100px) and (orientation: landscape) {
    .wrapper-home-img {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;
    }

    .home-buttons {
        padding-top: 2em;
    }

    .background-overlay {
        min-height: 100%;
        /* overflow: hidden; */
    }


}