/* For Desktop View */
@media screen and (min-width: 1024px) {

    .background-overlay,
    .home .wrapper-home-img .container {
        height: 100svh;

    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1084px) and (orientation: landscape) {

    .background-overlay,
    .home .wrapper-home-img {
        height: 100svh;

    }

    .about {
        /* padding-top: 25em; */
        /* position: relative; */
        height: 100svh;

    }

    .services {
        /* padding-top: 25em; */
        /* position: relative; */
        height: 100svh;

    }
}

/* For Tablet View */
@media screen and (min-device-width: 810px) and (max-device-width: 1084px) and (orientation: portrait) {

    .background-overlay,
    .home .wrapper-home-img .container {
        height: 100svh;

    }

    .home-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5em;
        gap: 6em;
    }

    .about {
        /* margin-top: 0; */


    }

    .services {
        /* padding-top: 25em; */
        /* position: relative; */
        /* height: 100svh; */

    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .home-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .background-overlay,
    .home {
        height: 140svh;
    }
    

}

/* For Mobile Landscape View */
@media screen and (max-device-width: 844px) and (orientation: landscape) {

    .background-overlay,
    .home .wrapper-home-img {
        height: 220svh;
    }

    .about {
        padding-top: 25em;
        height: 100svh;
    }

    .services {
        height: 100svh;
        padding-top: 25em;
    }

}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

    .background-overlay,
    .home {
        height: 1000svh;
    }

    .home-buttons {
        display: flex;
        flex-direction: column;

    }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}

;