.background-slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    animation: slideshow 10s infinite;



}

.background-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);


}

@keyframes slideshow {

    0%,
    100% {
        background: url('../../images/0a.jpg') center / cover no-repeat;

    }

    25% {
        background: url('../../images/02a.jpg') center / cover no-repeat;

    }

    50% {
        background: url('../../images/03a.jpg') center / cover no-repeat;

    }

    75% {
        background: url('../../images/04a.jpg') center / cover no-repeat;

    }


}

.home-content {
    display: flex;
    flex-direction: column;
    padding-top: 190px;
    position: relative;
    /* min-height: 100svh; */


}

.home-logo {
    object-fit: contain;
    margin: 0 auto;
    max-width: 60%;

}


.text-line {
    border: 1px var(--secondary-a)solid;
    display: flex;
    width: 60%;
    margin: -0.5em auto;
    animation: fade 1000ms infinite;
    -webkit-animation: fade 1000ms infinite;

}

/*BLINKING LINE TEXT*/
@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.1;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
    }
}

.home-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 60%;
    padding-top: 4.5em;
    justify-content: center;
    gap: 3rem;
    margin: 0 auto;

}

.button-team {
    display: flex;
    border: 0.1em solid;
    color: var(--primary-b);
    padding: 1em;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.3rem !important;
    font-family: RodfatTwo;
    width: 9em;
    height: 3em;

}