.background-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.3);
    /* Red color with 50% transparency */
    z-index: -1;
    filter: blur(3px);
}

.background-blur {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(1px);
    transition: opacity 1s ease-in-out;
    animation: slideshow 15s infinite;
}



@keyframes slideshow {

    0%,
    100% {
        background: url('../../images/tattoo-first-page.jpg') center / cover no-repeat;
    }

    25% {
        background: url('../../images/15541091_1623918120958380_2719381329338003218_o.jpg') center / cover no-repeat;
    }

    50% {
        background: url('../../images/man-doing-tattoo-tattoo-salon.jpg') center / cover no-repeat;
    }

    75% {
        background: url('../../images/process-creating-new-tattoo-young-woman-by-expirienced-tattoo-artist-studio.jpg') center / cover no-repeat;
    }


}


.home-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    max-width: 100%;
    max-height: calc(100% - 180px);
    padding-top: 10em;
    position: relative;

}

.home-img h1 {
    font-family: SkateSans;
    color: var(--primary-b);
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 1.5rem;
    padding: 2em 4em 0 4em;


}


.text-line {
    border: 1px solid;
    border-color: var(--secondary-a);
    display: flex;
    width: 80%;
    margin: 0.3em auto;

}


@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.1;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
    }
}

.text-line {
    animation: fade 1000ms infinite;
    -webkit-animation: fade 1000ms infinite;
}


.home-buttons {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    justify-content: center;
    gap: 3rem;
}

.button-team {

    border: 0.1em solid;
    color: var(--primary-b);
    padding: 1em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem !important;
    font-family: RodfatTwo;
    width: 8.5em;
    height: 3em;

}