.book {
    background-color: black;
    position: relative;
    z-index: 1;

}

.book-background {
    display: flex;
    background: url('/images/07a.jpg') center / cover no-repeat;
    width: 50%;
    min-height: 100vh;
    position: absolute;
    z-index: -2;
    margin-left: 50%;

}

.book-content {
    display: flex;
    flex-wrap: wrap;
    padding: 9.5em 2em;
    justify-content: left;
    margin: 0 auto;
    min-height: 100svh;

}

.form-container {
    display: flex;
    flex-direction: column;
    min-width: 70%;
    height: 80vh;
    padding: 2em;
    /* overflow: hidden;
    overflow-wrap: break-word; */
    justify-items: left;
    background-color: black;
    border: 1px solid var(--secondary-a);
}

.h2-form {
    margin: 0;
    /* padding-bottom: 0.5em; */
    height: 2em;
    width: 100%;

}

.form {
    display: flex;
    flex-direction: column;
    /* margin: 0; */

}

.form-label {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5em;
}

.form-input {
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
}

.form-label>label,
.form-input {
    font-family: RodfatTwo;
    color: white;

}

.label-one {
    width: 50%;

}

.label-two {
    width: 50%;
    margin-left: 2em;
}



.input {
    width: 50%;
    background-color: rgb(202, 202, 202);
    border: none;
    height: 3em;
    font-family: SkateSans;
    letter-spacing: 0.2em;

}

.input-one {
    margin-right: 2em;
}

.file-input {
    border: 1px solid var(--secondary-a);
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.file-input .reference {
    width: 50%;


}

.file-input .file {
    width: 50%;
    margin-left: 2em;
    font-family: SkateSans;
    color: white;
}

.label-msg {
    padding-top: 2em;
}

.input-msg {
    width: 100%;
    height: 5em;
    resize: none;
}

.button-send {
    width: 15em;
}