.about {
    display: flex;
    width: 100%;
    /* background: url(/images/05a.jpg) center / cover no-repeat; */

}

.about-left {
    display: flex;
    width: 50%;
    background: black;
}

.about-right {
    display: flex;
    flex: 1;
    width: 50%;
    background: url(/images/05a.jpg) center / cover no-repeat;
    object-fit: contain;

}

.about-right-overlay {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}


.about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100svh;
    width: 640px;
    margin-left: auto;
    padding-left: 2.5em;
    padding-right: 2.5em;




}

.h2-about {
    font-family: RodfatTwo;
    color: var(--primary-b);
    font-size: 4.5em;
    margin-top: 1.5em;

}

.about-content>p {
    color: var(--primary-b);
    font-family: SkateSans;
    letter-spacing: 0.2em;
    font-size: 1.2rem;
    margin: 0;

}



.studio-gallery {
    margin: 5em 0;
    width: 16em;
}

.button-studio-gallery {
    width: 12em;
    display: flex;
}